:root {
    --clr-body-bg: hsl(0, 0%, 90%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(0, 0%, 0%);
    --clr-text-alpha: hsla(1, 0%, 0%, 0.22);
    --clr-heading: hsl(0, 0%, 15%);
    --clr-selector-back: hsl(0, 0%, 60%);
    --clr-search: hsl(112, 100%, 17%);
    --clr-clear: hsl(359, 100%, 32%);
    --clr-search-text: hsl(0, 0%, 100%);
    --clr-clear-text: hsl(0, 0%, 100%);
}

* {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body {
    display: flexbox;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    background: var(--clr-body-bg) !important;
    color: var(--clr-text) !important;
    transition: 0.2s ease-in-out;
    min-height: 100vh;
}

.container > nav {
    z-index: 0;
    position: relative;
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.btn-search {
    box-sizing: border-box;
    font-size: 1rem;
    background: none;
    color: var(--clr-search);
    transition: 0.3s ease-in-out !important;
    outline: 2px solid var(--clr-search);
    font-weight: bold;
    width: 45%;
    margin-left: 2.5%;
}

.btn-search:hover {
    outline: 1px solid var(--clr-search);
    background-color: var(--clr-search);
    color: var(--clr-search-text);
}

.btn-clear {
    box-sizing: border-box;
    font-size: 1rem;
    background: none;
    color: var(--clr-clear);
    transition: 0.3s ease-in-out !important;
    outline: 2px solid var(--clr-clear);
    font-weight: bold;
    width: 45%;
    margin-left: 5%;
}

.btn-clear:hover {
    outline: 1px solid var(--clr-clear);
    background-color: var(--clr-clear);
    color: var(--clr-clear-text);
}

.three-col {
    column-count: 0;
    vertical-align: middle;
}

.three-col > .poke-style {
    margin-top: 0 !important;
    margin-bottom: 1rem;
}

.damages {
    margin-top: 1em;
}

.three-col > .poke-style {
    display: flex;
}

.types-select {
    background-color: var(--clr-card-bg);
    border-radius: 0.5rem;
    box-shadow: 0.2em 0.2em 0.3rem 0.3rem hsla(1, 0%, 0%, 0.22);
    width: 100%;
    padding: 1em;
    align-self: center;
}

.btn-create-container {
    display: flex;
    position: sticky;
    bottom: 5vh;
    width: 100%;
    justify-content: center;
}

.btn-create-pokemon {
    margin-bottom: max(1rem, 20px);
    position: sticky;
    font-size: 1.2rem;
    content: url("/svgs/plus-circle.svg");
}

.horiz-bar {
    background-color: var(--clr-text);
    width: 100%;
    height: 0.2rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.types-form > .form-select {
    width: 49%;
    margin: 0;
    box-sizing: border-box;
}

.poke-style {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 1rem;
    vertical-align: middle;
}

.poke-type-color {
    width: clamp(1.5rem, 2vw, 2rem);
    height: clamp(1.5rem, 2vw, 2rem);
    outline: 0.1em solid var(--clr-heading);
    outline-offset: 0.1em;
    border-radius: 50%;
    margin-right: max(10px, 1em);
    vertical-align: middle;
    transition: 0.3s ease-in-out !important;
}

.poke-style:hover > .poke-type-color {
    outline: 0.2em solid var(--clr-heading);
    outline-offset: 0em;
}

.jump-to-content {
    top: 20%;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    background: var(--clr-card-bg);
    color: var(--clr-text);
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0 0.7rem 0.7rem 0;
    transition: transform 0.35s;
}

.jump-to-content:focus {
    transform: translateX(0%);
}

.type-name {
    text-align: center;
    vertical-align: middle;
}

.table {
    color: var(--clr-text) !important;
}

.card {
    padding: 1rem;
    background-color: var(--clr-card-bg) !important;
    border-block-start: 0.5rem solid;
    border-block-start-color: var(--clr-heading);
    border-radius: 0.5rem;
}

.navbar-brand,
h1,
h2,
h3 {
    color: var(--clr-heading) !important;
    line-height: 1.1;
}

.navbar-brand {
    font-size: 2.5rem;
}

.poke-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1em 1em 1em 1em;
}

.about-container {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about-image {
    width: 100%;
    aspect-ratio: 305 / 92;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 1em;
    margin-bottom: 50px;
    padding: 0.5em;
}

.about-devs {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.navbar {
    background-color: var(--clr-card-bg) !important;
    color: var(--clr-heading) !important;
}

.nav-link {
    color: var(--clr-text) !important;
}

.navbar-toggler-icon,
.navbar-toggler {
    color: var(--clr-text) !important;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--clr-card-bg);
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: auto;
    z-index: -1;
}

.footer-img {
    height: 7rem;
    background-color: hsla(0, 0%, 85%, 0.22);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

.type-select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-select-container > * {
    width: 100%;
}

.btn-back {
    display: none;
}

.send-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-send {
    width: 55%;
}

.theme-selector > fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    background: var(--clr-selector-back);
    padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 0.3rem 0.3rem var(--clr-text-alpha);
}

.theme-selector input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.theme-selector input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.theme-selector input[type="radio"]#theme-light {
    --radio-color: white;
}

.theme-selector input[type="radio"]#theme-grey {
    --radio-color: rgb(88, 88, 88);
}

.theme-selector input[type="radio"]#theme-dark {
    --radio-color: rgb(37, 37, 37);
}

.theme-selector input[type="radio"]#theme-orange {
    --radio-color: #ffa31a;
}

/* So that it works on firefox,
    the classes and the :root:has() have to be separate otherwise
    the page won't update with the new styles */
/* Theme selctor largely based off of this Kevin Powell video
    https://www.youtube.com/watch?v=fyuao3G-2qg */

.theme-grey {
    --clr-body-bg: hsl(0, 0%, 28%);
    --clr-card-bg: hsl(0, 0%, 40%);
    --clr-text: hsl(0, 5%, 92%);
    --clr-text-alpha: hsla(0, 5%, 92%, 0.22);
    --clr-heading: hsl(0, 0%, 100%);
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

:root:has(#theme-grey:checked) {
    --clr-body-bg: hsl(0, 0%, 28%);
    --clr-card-bg: hsl(0, 0%, 40%);
    --clr-text: hsl(0, 5%, 92%);
    --clr-text-alpha: hsla(0, 5%, 92%, 0.22);
    --clr-heading: hsl(0, 0%, 100%);
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

.theme-dark {
    --clr-body-bg: hsl(0, 0%, 15%);
    --clr-card-bg: hsl(0, 0%, 22%);
    --clr-text: hsl(0, 0%, 85%);
    --clr-text-alpha: hsla(0, 0%, 85%, 0.22);
    --clr-heading: hsl(0, 0%, 95%);
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

:root:has(#theme-dark:checked) {
    --clr-body-bg: hsl(0, 0%, 15%);
    --clr-card-bg: hsl(0, 0%, 22%);
    --clr-text: hsl(0, 0%, 85%);
    --clr-text-alpha: hsl(0, 0%, 85%, 0.22);
    --clr-heading: hsl(0, 0%, 95%);
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

.theme-orange {
    --clr-body-bg: #000000;
    --clr-card-bg: #1b1b1b;
    --clr-text: hsl(0, 0%, 85%);
    --clr-text-alpha: hsla(0, 0%, 85%, 0.22);
    --clr-heading: #ffa31a;
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

:root:has(#theme-orange:checked) {
    --clr-body-bg: #000000;
    --clr-card-bg: #1b1b1b;
    --clr-text: hsl(0, 0%, 85%);
    --clr-text-alpha: hsla(0, 0%, 85%, 0.22);
    --clr-heading: #ffa31a;
    --clr-search: hsl(119, 100%, 67%);
    --clr-search-text: var(--clr-body-bg);
    --clr-clear: hsl(51, 100%, 59%);
    --clr-clear-text: var(--clr-body-bg);
}

/* Mobile first */
@media only screen and (min-width: 768px) {
    .three-col {
        display: grid;
        gap: 0.7em;
        grid-template-columns: auto auto auto;
        vertical-align: middle;
    }

    .types-form > .form-select {
        width: max(100px, 20%);
        margin-right: 14%;
        margin-left: 14%;
    }

    .about-container {
        display: block;
        margin-top: 7%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .about-devs {
        display: grid;
        grid-template-rows: auto auto;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        justify-content: center;
    }

    .about-devs > ul {
        align-self: center;
        justify-self: center;
    }

    .btn-back {
        display: flex;
        position: absolute;
        top: clamp(75px, 10%, 100px);
        left: 5%;
    }

    .btn-back > a {
        width: clamp(100px, 10%, 200px);
    }

    .btn-send {
        width: 35%;
    }

    .search-group-button {
        width: clamp(7rem, 10vw, 10rem);
        margin-right: 1%;
        margin-left: 0;
    }

    .btn-create-pokemon {
        content: none;
    }
}
